.content-header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 100%;
  font-size: var(--base-font-size);
  font-family: var(--font-family);
}