.button {
  font-weight: var(--font-weight-bold) !important;
  font-size: var(--base-font-size) !important;
  font-family: var(--font-family) !important;
  padding: 5px 15px !important;
  text-transform: none !important;
  color: var(--light-text-color);
}
